<style>
	h2 #transactionHash {
		font-size: 20px;
		color: aliceblue;
	}
</style>

<h1 style=margin-bottom:36px;"><i class="fa fa-exchange" aria-hidden="true" style="margin-inline-end: 18px;padding-inline-start: 12px;"></i>Verify Transactions</h1>

<div class="input-group col-md-6">
	<form class="form-horizontal" id="check_tx_form" style="font-family:roboto mono;">
	    <fieldset>
			<div class="col-md-12">
				<div class="form-group">
					<label for="transaction_hash">Transaction Hash</label>
						<input class="form-control" placeholder="64 char transaction id"style="margin-bottom: 10px;" id="transaction_hash">
				</div>		
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<p>
						<label for="private_key"><u>Private Key:</u>
							<div class="radio-inline"><label><input type="radio" name="keyType" value="tx_key" checked>Transaction Private Key</label></div>
							<div class="radio-inline"><label><input type="radio" name="keyType" value="view_key">Private ViewKey</label></div>
						</label>
					</p>
					<input class="form-control" placeholder="64 char private viewkey or transaction private key" id="private_key">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="public_address">Recipient Public Address</label>
					<input class="form-control" placeholder="Receiver's DRGL public address" id="public_address">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<button class="btn btn-primary" type="button" id="check_transaction"style="background-color:#0026af; font-family:cinzel, sans-serif; margin-bottom:18px;margin-top:10px;">
						<span> Verify TXN</span>
					</button>
				</div>
			</div>
	    </fieldset>
	</form>
</div>

<div id="check_result">
 <div class="panel panel-default">
  <div class="panel-heading2">
	<h2>Received <span id="receivedAmount"></span> in transaction: <span id="transactionHash" style="word-break: break-all;"></span></h2>
  </div>
  <div class="panel-body">
	
	<div class="row" id="tx_info">
		<div class="col-md-12 stats">
			<div id="confirmations" style="display: none;"><span data-toggle="tooltip" data-placement="right" data-original-title="The number of network confirmations."><i class="fa fa-question-circle"></i></span> Confirmations: <span id="transaction.confirmations"></span>, First confirmation time: <span id="transaction.timestamp"></span> (<time class="transaction-timeago"></time>)</div>
			<div><span data-toggle="tooltip" data-placement="right" data-original-title="Money that goes to the miner, who included this transaction into block."><i class="fa fa-question-circle"></i></span> Fee: <span id="transaction.fee"></span></div>
			<div><span data-toggle="tooltip" data-placement="right" data-original-title="It does not mean that this is the amount that is actually transferred."><i class="fa fa-question-circle"></i></span> Sum of outputs: <span id="transaction.amount_out"></span></div>
			<div><span data-toggle="tooltip" data-placement="right" data-original-title="Size of the transaction in bytes."><i class="fa fa-question-circle"></i></span> Size: <span id="transaction.size"></span></div>
			<div id="div_transaction_paymentId"><span data-toggle="tooltip" data-placement="right" data-original-title="Optional user-defined hexadecimal characters string. Can be used by anyone to distinguish the transactions easier."><i class="fa fa-question-circle"></i></span> Payment ID: <span id="transaction.paymentId"></span>
			<br />
			Payment ID decoding: <em id="transaction.paymentIdDecifer"></em></div>
			<div id="div_transaction_mixin"><span data-toggle="tooltip" data-placement="right" data-original-title="Denotes how many random inputs are mixed within this transactions in order to achieve desired level of anonimity. Mixin count 1 means no additional inputs are mixed in and thus each input can be traced back."><i class="fa fa-question-circle"></i></span> Mixin count: <span id="transaction.mixin"></span></div>
			<div id="tx_unconfirmed" style="display: none;"><span data-toggle="tooltip" data-placement="right" data-original-title="The transaction is not included into block yet and therefore is not wtitten into blockchain."><i class="fa fa-question-circle"></i></span> <span class="text-warning">Unconfirmed transaction</span></div>
		</div>
	</div>
	<div id="tx_block">
		<h3><i class="fa fa-cube fa-fw" aria-hidden="true"></i> In block</h3>
		<div class="row">
			<div class="col-md-12 stats">
				<div><i class="fa fa-circle-o"></i> Hash: <span id="block.hash" style="word-break: break-all;"></span></div>
				<div><i class="fa fa-circle-o"></i> Height: <span id="block.height"></span></div>
				<div><i class="fa fa-circle-o"></i> Timestamp: <span id="block.timestamp"></span></div>
			</div>
		</div>
	</div>

	<h3 class="inputs">Inputs (<span id="inputs_count"></span>) <button class="btn btn-default collapsed" data-toggle="collapse" data-target="#collapsibleInputs">Show/Hide</button></h3>
	<div class="table-responsive collapse" id="collapsibleInputs">
		<table class="table table-hover">
			<thead>
			<tr>
				<th><i class="fa fa-money"></i> Amount</th>
				<th><i class="fa fa-paw"></i> Image</th>
				<th><i class="fa fa-arrows-alt"></i> Offset</th>
			</tr>
			</thead>
			<tbody id="inputs_rows">

			</tbody>
		</table>
	</div>


	<h3 class="outputs">Outputs (<span id="outputs_count"></span>)</h3>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
			<tr>
				<th><i class="fa fa-money"></i> Amount</th>
				<th><i class="fa fa-key"></i> Key</th>
			</tr>
			</thead>
			<tbody id="outputs_rows">

			</tbody>
		</table>
	</div>
   </div>
  </div>
</div>

<p style="font-size: 27px;font-family: cinzel;font-kerning: normal;color: #b9b9b9;text-shadow: 8px -5px 27px #c00;">Dragonglass arms you with the power to prove payments while remaining anonymous thru use of your TX-Private Key.</p>
<p style="font-family: caudex;color: #d8d8d8;">The Transaction-Private Key is a one-time key that is automatically generated for every transaction and</p>
<p style="font-family: caudex;color: #d8d8d8;">can only be accessed from within DRGL-wallet (GUI) ( inside "transaction details" dialog )</p>
<p style="font-family: caudex;color: #d8d8d8;">or by Dragonglass CLI simplewallet ( using the <code>get_tx_key</code> command )</p>

<p style="font-family: caudex;color: #d8d8d8;">Outputs belonging to receiver's address will be highlighted below.</p>


<script>
    var xhrGetTransaction, xhrCheckTransactionByKey, xhrCheckTransactionByViewKey, transaction;
	var transactionHash = $("#transaction_hash");
	var privateKey = $("#private_key");
	var publicAddress = $("#public_address");
	var privateKeyType;

    currentPage = {
        destroy: function(){
			if (xhrGetTransaction) xhrGetTransaction.abort();
			if (xhrCheckTransactionByKey) xhrCheckTransactionByKey.abort();
			if (xhrCheckTransactionByViewKey) xhrCheckTransactionByViewKey.abort();
        },
        init: function(){
        },
        update: function(){
        }
    };
	$("#check_result").hide();
	
	$("#check_transaction").click(function() {
		$("#check_result").hide();
		$('#inputs_rows').empty();
		$('#outputs_rows').empty();
		$('#receivedAmount').empty();
		$('#transactionHash').empty();
		privateKeyType = $("[name=keyType]:checked").val();
		if(!transactionHash.val() || !privateKey.val() || !publicAddress.val()) {
			wrongParamAlert("Fill all fields!");
			return;
		}
		getTransaction();
	});

	function getTransaction(){
	if (xhrGetTransaction) xhrGetTransaction.abort();
		xhrGetTransaction = $.ajax({
			url: api + '/json_rpc',
			method: "POST",
			data: JSON.stringify({
				jsonrpc:"2.0",
				id: "test",
				method:"f_transaction_json",
				params: {
					hash: transactionHash.val()
				}
			}),
			dataType: 'json',
			cache: 'false',
			success: function(data){
			  if (data.error) {
				wrongParamAlert(data.error.message);
			  } else {
				var tx = data.result;
				renderTransaction(tx);
				
				if (privateKeyType === "tx_key") {
					checkTxKey();
				} else if (privateKeyType === "view_key") {
					checkViewKey();
				}
				
			  }
			}
		});
	}	
	
	function checkTxKey(){
		if (xhrCheckTransactionByKey) xhrCheckTransactionByKey.abort();
		xhrCheckTransactionByKey = $.ajax({
			url: api + '/json_rpc',
			method: "POST",
			data: JSON.stringify({
				jsonrpc:"2.0",
				id: "test",
				method:"check_tx_key",
				params: {
					txid: transactionHash.val(),
					txkey: privateKey.val(),
					address: publicAddress.val()
				}
			}),
			dataType: 'json',
			cache: 'false',
			success: function(data){
			  if (data.error) {
				wrongParamAlert(data.error.message);
			  } else {
				var result = data.result;
				$("#receivedAmount").html(getReadableCoins(result.amount,7));
				
				var outputResults = result.outputs;
				for (var i = 0; i < outputResults.length; i++){
					$('#outputs_rows tr').each(function() {
						$this = $(this);
						if ($this.attr('data-k_image') === outputResults[i].target.data.key) {
							$this.addClass("success");
						}
					});				
				}
				$("#check_result").show();
			  }
			}
		});
	}
	
	function checkViewKey(){
		// in case some one will try to use tracking key from GUI extract private view key from it
		var privateViewKey = privateKey.val();
		if (privateViewKey.length === 256) {
			privateViewKey = privateViewKey.substr(privateViewKey.length - 64);
		}
	
		if (xhrCheckTransactionByViewKey) xhrCheckTransactionByViewKey.abort();
		xhrCheckTransactionByViewKey = $.ajax({
			url: api + '/json_rpc',
			method: "POST",
			data: JSON.stringify({
				jsonrpc:"2.0",
				id: "test",
				method:"check_tx_with_view_key",
				params: {
					txid: transactionHash.val(),
					view_key: privateViewKey,
					address: publicAddress.val()
				}
			}),
			dataType: 'json',
			cache: 'false',
			success: function(data){
			  if (data.error) {
				wrongParamAlert(data.error.message);
			  } else {
				var result = data.result;
				$("#receivedAmount").html(getReadableCoins(result.amount,7));
				
				var outputResults = result.outputs;
				for (var i = 0; i < outputResults.length; i++){
					$('#outputs_rows tr').each(function() {
						$this = $(this);
						if ($this.attr('data-k_image') === outputResults[i].target.data.key) {
							$this.addClass("success");
						}
					});				
				}
				$("#check_result").show();
			  }
			}
		});
	}
	
	function renderTransaction(transaction){
				var details = transaction.txDetails;
                inputs = transaction.tx.vin;
                outputs = transaction.tx.vout;
                block = transaction.block;
				
                updateText('transactionHash', details.hash);
                if (block.hash){
					$('#confirmations').show();
					updateText('transaction.confirmations', lastStats.height - block.height);
					updateText('transaction.timestamp', formatDate(block.timestamp));
					$(".transaction-timeago").timeago('update', new Date(block.timestamp * 1000).toISOString());
				}
                updateText('transaction.amount_out', getReadableCoins(details.amount_out));
                updateText('transaction.fee', getReadableCoins(details.fee));
                updateText('transaction.mixin', details.mixin);
                if (!details.mixin)
                    $('#div_transaction_mixin').hide();
                updateText('transaction.paymentId', details.paymentId);
				updateText('transaction.paymentIdDecifer', hex2a(details.paymentId));
                if (!details.paymentId)
                    $('#div_transaction_paymentId').hide();
                updateText('transaction.size', formatBytes(parseInt(details.size)));

				if (!block.hash){
					$('#tx_block').hide();
					$('#tx_unconfirmed').show();
				}
				
                updateTextLinkable('block.hash', formatBlockLink(block.hash));
                updateText('block.height', block.height);
                updateText('block.timestamp', formatDate(block.timestamp));
				
                renderInputs(inputs);
                renderOutputs(outputs);
	}

    function getInputCells(input){
        return '<td>' + getReadableCoins(input.value.amount) + '</td>' +
            '<td>' + input.value.k_image + '</td>' +
            '<td>' + input.value.key_offsets + '</td>';
    }


    function getInputRowElement(input, jsonString){

        var row = document.createElement('tr');
        row.setAttribute('data-json', jsonString);
        row.setAttribute('data-k_image', input.value.k_image);
		row.setAttribute('data-key_offsets', input.value.key_offsets);
        row.setAttribute('id', 'inputRow' + input.value.k_image);

        row.innerHTML = getInputCells(input);

        return row;
    }

    function renderInputs(inputResults){

        var $inputsRows = $('#inputs_rows');

        for (var i = 0; i < inputResults.length; i++){
		
            var input = inputResults[i];
		
            if (!input.value.amount)
                continue;
				
            var inputJson = JSON.stringify(input);
			
            var existingRow = document.getElementById('inputRow' + input.value.k_image);

            if (existingRow && existingRow.getAttribute('data-json') !== inputJson){
                $(existingRow).replaceWith(getInputRowElement(input, inputJson));
            }
            else if (!existingRow){

                var inputElement = getInputRowElement(input, inputJson);
                $inputsRows.append(inputElement);
            }
			
        }
		
		updateText('inputs_count', document.querySelectorAll('#inputs_rows tr').length);
    }


    function getOutputCells(output){
        return '<td>' + getReadableCoins(output.amount) + '</td>' +
            '<td>' + output.target.data.key + '</td>';
    }


    function getOutputRowElement(output, jsonString){

        var row = document.createElement('tr');
        row.setAttribute('data-json', jsonString);
        row.setAttribute('data-k_image', output.target.data.key);
        row.setAttribute('id', 'outputRow' + output.target.data.key);

        row.innerHTML = getOutputCells(output);

        return row;
    }

    function renderOutputs(outputResults){

        var $outputsRows = $('#outputs_rows');

        for (var i = 0; i < outputResults.length; i++){

            var output = outputResults[i];

            var outputJson = JSON.stringify(output);
			
            var existingRow = document.getElementById('outputRow' + output.target.data.key);

            if (existingRow && existingRow.getAttribute('data-json') !== outputJson){
                $(existingRow).replaceWith(getOutputRowElement(output, outputJson));
            }
            else if (!existingRow){

                var outputElement = getOutputRowElement(output, outputJson);
                $outputsRows.append(outputElement);
            }
			
        }
		
		updateText('outputs_count', document.querySelectorAll('#outputs_rows tr').length);
    }
	
	$(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
	
	function wrongParamAlert(message) {
	$('#page').after(
		'<div class="alert alert-danger alert-dismissable fade in" style="position: fixed; right: 50px; top: 50px;">'+
		'<button type="button" class="close" ' + 
		'data-dismiss="alert" aria-hidden="true">' + 
		'&times;' + 
		'</button>' + 
		'<strong>' + message + '</strong><br />' +
		'</div>');
	}
</script>
